.welcome {

  background-color: #fff;
  color: #636b6f;
  font-family: 'Raleway', sans-serif;
  height: 100vh;
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;

  .content {
    text-align: center;
  }

  h1, h3 {
    font-weight: 100;
  }
}