// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:100,300,400,600");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
// Material
@import "~materialize-css/sass/materialize";
// Variables
@import "variables";
//Pages
@import "welcome.scss";

html, body {
  height: 100vh;
  margin: 0;
}

.container {
  @media #{$medium-and-up} {
    margin-top: 40px;
  }
}

nav .brand-logo {
  padding: 0 30px;
}

.input-field label {
  width: 100%;
}

td .btn {
  padding: 0 0.5rem;
}